* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: black;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background: rgb(255, 252, 252);
}
img {
  border: 1px solid white;
  border-radius: 10px;
  top: 10px;
}
.logo {
  font-size: 60px;
  font-weight: bold;
  color: #ff6600;
}
nav a {
  margin: 30px;
  color: rgb(28, 26, 26);
  font-weight: 500;
  text-decoration: none;
}
nav a {
  font-size: 30px;
  /* background-color: #ff6600; */
}
.navbar {
  gap: 100px;
}

nav a:hover {
  color: #000000;
}
body {
  /* font-family: Arial, sans-serif; */

  background-color: #e0f8ff;
  margin: 0;
}
.contact-container {
  background: #fff;
  padding: 50px;
  margin: 100px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.contact-container h2 {
  text-align: center;
  margin-bottom: 10px;
}
.contact-container p {
  text-align: center;
  color: #555;
  margin-bottom: 25px;
}
form {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 40px;
}
label {
  font-size: 25px;
  margin-bottom: 5px;
  display: block;
  color: #333;
}
input,
textarea,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 25px;
}
textarea {
  resize: vertical;
  height: 100px;
}
.full {
  width: 600px;
}
.full-width {
  width: 500px;
}
.full-width input,select                                          {
  width:80%;
}
.checkbox {
  display: flex;
  align-items: center;
  font-size: 1400px;
  color: #333;
}
.checkbox input {
  margin-right: 8px;
}
.btn {
  background-color: #f77c7c;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  width: 300px;
  height: 70px;
  margin: 60px;
  margin-left: 100px;
}
.btn:hover {
  background-color: #e66060;
}
footer {
  background-color: #00000092;
  color: azure;
  padding: 40px;
  text-align: center;
  font-size: 20px;
}
h2 {
  font-size: 35px;
}
a {
  text-decoration: none;
}
footer {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 50px;
  text-align: center;
  font-size: 20px;
}
p {
  font-size: 29px;
}
