* {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background: rgb(255, 255, 255);
}
img {
  border: 1px solid white;
  border-radius: 10px;
  top: 10px;
}

.logo {
  font-size: 60px;
  font-weight: bold;
  color: #f2874e;
}

nav a {
  margin: 30px;
  color: rgb(28, 26, 26);
  font-weight: 500;
  text-decoration: none;
}
nav a {
  font-size: 30px;
}
.navbar {
  gap: 100px;
}
nav a:hover {
  color: #000000;
}
body {
  background: #e0f8ff;
  margin: 0;
}

.card-container {
  display: flex;
  justify-content: center;
  padding: 150px;
  gap: 20px;
  text-decoration: none;
}

.card {
  background: #ffffff;
  color: #ffffff;
  width: 400px;
  height: 300px;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  box-shadow: 0px 4px 12px rgb(0, 0, 0);
  text-decoration: none;
  text-align: center;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
  text-decoration: none;
}

.card img {
  width: 100%;
  height: 200px;
}

.card a {
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}
h2 {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
  font-size: xxx-large;
}
h2 {
  margin-top: 100px;
}
footer {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 50px;
  text-align: center;
  font-size: 20px;
}
p {
  font-size: 29px;
}
